* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html, body {
  height: 100%;
}

body {
  align-items: center;
  background-color: hsl(30, 38%, 92%);
  color: hsl(228, 12%, 48%);
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  justify-content: center;
}

.card-container {
  background-image: url('./images/image-product-desktop.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0.75em;
  height: 392px;
  position: relative;
  width: 538px;
}


.product-details-container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 0 0.75em 0.75em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 25px;
  padding-right: 25px;
  position: absolute;
  height: 392px;
  right: 1px;
  width: 52%;
}

.category {
  font-size: 12px;
  letter-spacing: 5px;
  padding-top: 12px;
}

.title {
  color: hsl(212, 21%, 14%);
}

.description {
  line-height: 22px;
  margin-top: 10px;
}

.fraunces {
  font-family: 'Fraunces', serif;
  font-size: 32px;
}

.prices-container {
  align-items: center;
  display: flex;
  margin-top: 8px;
}

.discounted {
  color: hsl(158, 36%, 37%);
  padding-right: 20px;
}

button {
  align-items: center;
  background-color: hsl(158, 36%, 37%);
  border-radius: 6px;
  border-style: none;
  display: flex;
  color:hsl(0, 0%, 100%);
  cursor: pointer;
  font-weight: 700;
  height: 50px;
  justify-content: center;
  margin: 10px 0 20px;
  width: 100%;
}

button:hover {
  background-color: hsl(158, 36%, 47%);
}

button:active {
  background-color: hsl(158, 36%, 20%);
}

button img {
  margin-right: 10px;
}

.attribution {
  text-align: center;
}

@media (max-width: 700px) {
  body {
    display: block;
  }

  .card-container {
    background-image: url('./images/image-product-mobile.jpg');
    border-radius: 0.75em 0.75em 0 0;
    height: 667px;
    margin: 0 auto;
    top: 2%;
    width: 350px;
  }

  .product-details-container {
    border-radius: 0 0 1em 1em;
    bottom: 33px;
    right: 0px;
    width: 100%;
  }
}
